/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020408;
}